#npmignore
!/dist
/src
/docs
/.github
/docs-dist
/esm
/.editorconfig
/.eslintignore
/.eslintrc.js 
/.prettierignore
/.prettierrc
tsconfig.json
typings.d.ts

lyr.config.ts
rollup.config.mjs     
/www
/runtime
/.theme
/apis