.page-canvas,
.page-canvas-preview {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  position: relative;
  padding: 0;
}
.page-canvas .page-canvas-mask,
.page-canvas-preview .page-canvas-mask {
  background-color: #c7dcf14b;
  width: 100%;
  height: 100%;
  position: absolute;
}
.page-canvas .page-canvas-empty,
.page-canvas-preview .page-canvas-empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page-canvas .drag-container,
.page-canvas-preview .drag-container {
  position: relative;
  border: 1px dashed var(--primary-color);
  padding-bottom: 0px;
  margin-bottom: 10px;
  height: fit-content;
  cursor: pointer;
  padding: 24px 10px;
}
.page-canvas .drag-container:hover,
.page-canvas-preview .drag-container:hover {
  border: 1px dashed var(--primary-color) !important;
}
.page-canvas .drag-container .drag-container-key,
.page-canvas-preview .drag-container .drag-container-key {
  position: absolute;
  top: 2px;
  right: 4px;
  color: var(--primary-color);
  font-size: 12px;
}
.page-canvas .drag-container .drag-container-drag,
.page-canvas-preview .drag-container .drag-container-drag {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: move;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
}
.page-canvas .drag-container .drag-container-tools,
.page-canvas-preview .drag-container .drag-container-tools {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  z-index: 99;
  border-top-left-radius: 8px;
}
.page-canvas .drag-container .drag-container-tools .spicon-copy,
.page-canvas-preview .drag-container .drag-container-tools .spicon-copy {
  cursor: copy;
}
